

<ion-view view-title="">
  <ion-content class="padding">
  <ion-refresher
          pulling-text="Refreshing..."
          on-refresh="populateList()">
        </ion-refresher>
  <div class="list">
    <div class="item ">
      <center><h1>&#8369;rice List</h1></center>
    </div>
  </div>
    <div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search" ng-model="name">
  </label>
</div>
<div class="list" ng-repeat="items in list | filter:name ">
<div class="row item">

  <div class="col col-image"><center><img src="{{items.imageURL}}"></center></div>
  <div class="col"><center>
    <div class="col-name"><strong>{{items.name}}</strong></div>
     <div class="col-list">&#8369;{{items.price}}/{{items.unitofmeasure}}</div>
     </center>
     </div>
  <div class="col"> 
  <form>
      <input type="number" placeholder="Quantity" id="Quantity" data-ng-model="Quantity" required>
    </div>
   <div class="col"> 
   <center><button class="button button-small" ng-click="addToFavorite($index)">
     <img src="img/logomini2.png" class="button-img">
    </button></center></div>
    </form>  
</div>  
</div>

  </ion-content>
</ion-view>
